//* Text
$color__text--default: #011c28;
//* Badge
$color__badge--yellow: #fef6a0;
$color__badge--pink: #f6b7bf;
//* Product
$color__product--yellow: #fdf69a;
$color__product--pink: #f6afb5;
//* BG
$color__bg--first-slide: linear-gradient(
  240.75deg,
  #a9c2e2 -7.54%,
  #b198af 55.54%,
  #6d87bc 101.81%
);
$color__bg--instagram: linear-gradient(90deg, #faa251, #b53e8f);
$color__bg--beige: #f5f1ed;
$color__bg--yellow: #fce779;
$color__bg--blue: #7da7d9;
$color__bg--pink: #f6b7be;
//* Hover
$color__hover--yellow: #f1dca6;
$color__hover--pink: #e6aeb6;
